<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.pds.article.service.ArticleFileMapper">
	<!-- 수정을 할때 파일 id를 가져와 이름과 확장자를 알고 그 해당하는 파일을 지우기 위해
	id를 매개변수를 받아 articleFile type으로 결과를 받는 쿼리문 -->
	<select id="selectArticleFileOne"
			parameterType="Integer"
			resultType="com.test.pds.article.service.ArticleFile">
		SELECT
			article_file_id AS articleFileId
			, article_id AS articleId
			, article_file_name AS articleFileName
			, article_file_ext AS articleFileExt
			, article_file_type AS articleFileType
			, article_file_size AS articleFileSize
		FROM article_file
		WHERE article_file_id = #{articleFileId}
	</select>
	<!-- 수정을 위해 파일이 하나만 삭제 하는 경우를 위해
	articleFileId값을 매개변수로 받아 해당하는 파일 한개만 삭제하는 쿼리문 -->
	<delete id="deleteArticleFileOne"
			parameterType="Integer">
		DELETE FROM
			article_file
		WHERE article_file_id = #{articleFileId}
	</delete>
	<!-- articleFile을 매개변수로 받아 id에 해당하는 articleFile을 수정하는 쿼리문
	file이 수정되면 전에 있던 파일은 삭제되고 추가되는지?
	갯수가 달라지면 어떻게 되는지?
	서비스에서 어떤식으로 처리해야하는지? 
	수정 버튼을 누를시 파일을 삭제하고 추가하는 버튼을 만들어 처리해야할 것 같다.
	articleFile테이블이 수정되는게 아니라 삭제 추가 되는 식!
	따라서 articleFile update쿼리문은 필요없을지도? -->
	<!-- <update id="updateArticleFile"
			parameterType="com.test.pds.article.service.ArticleFile">
		UPDATE article_file
		SET
			, article_file_name = #{articleFileName}
			, article_file_ext = #{articleFileExt}
			, article_file_type = #{articleFileType}
			, article_file_size = #{articleFileSize}
		WHERE article_file_id = #{articleFileId}
	</update> -->
	<!-- articleId를 매개변수로 받아 해당하는 파일을 삭제하는 쿼리문 -->
	<delete id="deleteArticleFile" parameterType="Integer">
		DELETE FROM
			article_file
		WHERE article_id = #{articleId}
	</delete>
	<!-- articleFile을 매개변수로 받아 id, name, ext, type, size를 입력하는 쿼리문 -->
	<insert id="insertArticleFile"
		parameterType="com.test.pds.article.service.ArticleFile">
		INSERT INTO article_file(
			article_id
			, article_file_name
			, article_file_ext
			, article_file_type
			, article_file_size
		)
		VALUES (
			#{articleId}
			, #{articleFileName}
			, #{articleFileExt}
			, #{articleFileType}
			, #{articleFileSize}
		)
	</insert>
</mapper>

